/* @import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.baskervville-regular {
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
}

.baskervville-regular-italic {
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: italic;
}

.dm-serif-display-regular {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
}

.dm-serif-display-regular-italic {
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: italic;
}

.rubik {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.lato-thin {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-black {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
}

.space-mono-regular {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.space-mono-bold {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}

.space-mono-regular-italic {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: italic;
}

.space-mono-bold-italic {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: italic;
}

.tiptap {
	color: #36342e;
	background: white;
	font-family: "SF Pro Display", sans-serif;
}
.tiptap *::selection {
	background: #c2dcf7;
}
.tiptap .highlight {
	color: rgb(245, 8, 8);
	background: #4971f7;
}
.tiptap p {
	text-align: justify;
}
.tiptap h1 {
	font-size: 3rem;
}

.tiptap h2 {
	font-size: 2rem;
}

.tiptap h3 {
	font-size: 1rem;
}

.tiptap h4 {
	margin-block: .1em;
	margin-top: .4em;
	font-size: 24px;
	font-weight: 500;
    font-size: 4rem;
}

.tiptap ul {
	list-style: disc;
}

.tiptap h4 {
	margin-block: .1em;
	margin-top: .4em;
	font-size: 18px;
	font-weight: 500;
}

.tiptap pre {
	font-family: "Space Mono", monospace;
	font-size: small;
	background: hsla(0, 0%, 93%, 0.478);
	color: #0a0a0a;
	padding: 16px;
	margin-bottom: 12px;
	margin-top: .6em;
	position: relative;
	overflow: auto;
}

.tiptap a {
	text-decoration: underline;
	cursor: pointer;
	display: inline;
	color: inherit;
}

.tiptap a:hover {
	cursor: pointer;
}

.tiptap em {
	all: unset;
}

.tiptap .loading {
	background: rgb(199, 199, 199);
	height: 200px;
	width: 200px;
}
.tiptap code {
	font-family: "Space Mono", monospace;
	font-size: small;
}

.is-editor-empty:first-child::before {
	color: rgba(34, 34, 34, 0.1);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.is-empty::before {
	color: rgba(34, 34, 34, 0.1);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.highlight {
	background-color: yellow;
	transition: background-color 0.5s ease-out;
}

.tiptap :not(.react-component) .is-empty:not(.react-component)::before {
	color: rgba(34, 34, 34, 0.3);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.tippy-box[data-animation="bubbleShowUp"] {
	transform-origin: bottom;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tippy-box[data-animation="bubbleShowUp"][data-state="hidden"] {
	opacity: 0;
	transform: translateY(20px);
	filter: blur(10px);
}

.tippy-box[data-animation="bubbleShowUp"][data-state="visible"] {
	opacity: 1;
	transform: translateY(0);
	filter: blur(0px);
}

.filter-purple {
	filter: invert(47%) sepia(100%) saturate(800%) hue-rotate(250deg)
		brightness(95%) contrast(90%);
}

.prosemirror-dropcursor-block {
	background: #a9d8ff !important;
}
.tiptap * {
	transition: background-color .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tiptap {
	img {
		display: block;
		height: auto;
		margin: 0 0;
		max-width: 100%;

		&.ProseMirror-selectednode {
			outline: 3px solid var(--purple);
		}
	}
}

.tiptap .react-component {
	background-color: var(--purple-light);
	border: 2px solid var(--purple);
	border-radius: 0.5rem;
	margin: 2rem 2rem;
	position: relative;

	.content {
		margin: 2rem;
		padding: 1rem;

		&.is-editable {
			border: 2px dashed var(--gray-3);
			border-radius: 0.5rem;
			margin: 2.5rem 1rem 1rem;
			padding: 0.5rem;
		}
	}
}

.tiptap .ProseMirror-trailingBreak {
	background: #1033ff;
	width: 12px;
	height: 12px;
}
